@model E_Mall.Models.Urun
@{
    ViewBag.Title = "UrunEkle";
}
<div class="row">
    <div class="col-xl-12" style="align: center">
        <h4> ÜRÜN EKLE</h4>
    </div>
    <form method="post" enctype="multipart/form-data" action="Olustur">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px">
                    <fieldset class="form-group">
                        <label for="name">Ürün Adı</label>
                        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control", @placeholder = "Ürünün Adını Giriniz", required = "required" })
                        <label for="name">Açıklama</label>
                        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @placeholder = "Ürüne Ait Kısa Açıklama Giriniz", required = "required" })
                        <label for="name">SKU</label>
                        @Html.TextBoxFor(x => x.Barkod, new { @class = "form-control", @placeholder = "Ürünün SKU Kodunu Giriniz", required = "required" })
                        <label for="name">Etiket</label>
                        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control", @placeholder = "Ürünün Etiketini Giriniz", required = "required" })
                        <label for="name">Başlangıç Tarihi</label>
                        @Html.TextBoxFor(x => x.BaslangicTarih, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        <label for="name">Bitiş Tarihi</label>
                        @Html.TextBoxFor(x => x.BitisTarih, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </fieldset>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px;height: 100%">
                    <fieldset class="form-group">
                        <label for="name">Ağırlık (kg)</label>
                        @Html.TextBoxFor(x => x.Agirlik, new { @class = "form-control", @placeholder = "Ürünün Ağırlığını Giriniz", required = "required" })
                        <label for="name">Uzunluk (m)</label>
                        @Html.TextBoxFor(x => x.Uzunluk, new { @class = "form-control", @placeholder = "Ürünün Uzunluğunu Giriniz", required = "required" })
                        <label for="name">Genişlik (m)</label>
                        @Html.TextBoxFor(x => x.Genislik, new { @class = "form-control", @placeholder = "Ürünün Genişliğini Giriniz", required = "required" })
                        <label for="name">Yükseklik (m)</label>
                        @Html.TextBoxFor(x => x.Yukseklik, new { @class = "form-control", @placeholder = "Ürünün Yüksekliğini Giriniz", required = "required" })
                    </fieldset>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-1" style="margin-top: 20px;">
                <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px;">
                    <fieldset class="form-group">
                        <label for="name">Fiyat</label>
                        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control", @placeholder = "Ürünün Fiyatını Giriniz", required = "required" })
                        <label for="name">Eski Fiyat</label>
                        @Html.TextBoxFor(x => x.EskiFiyat, new { @class = "form-control", @placeholder = "Ürünün Eski Fiyatını Giriniz", required = "required" })
                        <label for="name">Maliyet</label>
                        @Html.TextBoxFor(x => x.Maliyet, new { @class = "form-control", @placeholder = "Ürünün Maliyetini Giriniz", required = "required" })
                    </fieldset>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-1" style="margin-top: 20px;">
                <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px; height: 100%;">
                    <fieldset class="form-group">
                        <label for="name">Kategoriler</label>
                        @Html.TextBoxFor(x => x.KategoriID, new { @class = "form-control", @placeholder = "Ürünün Kategorisini Giriniz", required = "required" })
                        <label for="name">Üreticiler</label>
                        @Html.TextBoxFor(x => x.Ureticiler, new { @class = "form-control", @placeholder = "Ürünün Üreticisini Giriniz", required = "required" })
                    </fieldset>
                </div>
            </div>
            <div class="col-xl-12" style="margin-top: 20px;">
                <fieldset class="form-group-validate">
                    <button class="btn btn-success" name="submit">Kaydet</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>

